@import 'utils.css';

:root {
  --clr-bg-dark: #343a40;
  --clr-bg-light: #fdfeff;

  --clr-success-dark: #28a745;
  --clr-success-light: #e6ffed;
  --clr-info-dark: #2563eb;
  --clr-info-light: #deebff;
  --clr-error-dark: #dc3545;
  --clr-error-light: #f8d7da;
  --clr-warning-dark: #ffc107;
  --clr-warning-light: #fff3cd;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--clr-bg-light);
}

footer {
  height: 60px;
}

nav {
  height: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: var(--clr-info-dark);
}

.page {
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: calc(100vh - 125px);
}
