<main class="container reset-password-page page">
    <div class="form-container p-5 shadow-lg rounded-2 bg-body">
        <div class="text-center d-flex flex-column gap-3">
            <h1 class="text-center fs-2 pb-3">Reset Your Password</h1>
            <p class="text-center">
                Enter your new password. Strong password include numbers, letters and special characters.
            </p>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="d-flex flex-column gap-2">
                    <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                            'mat-form-field-invalid':
                                hasError('newPassword', 'required') || hasError('newPassword', 'minlength')
                        }">
                        <mat-label>New Password</mat-label>
                        <input
                            matInput
                            [type]="hide ? 'password' : 'text'"
                            formControlName="newPassword"
                            required
                            autocomplete="on"
                            [errorStateMatcher]="matcher" />
                        <button
                            mat-icon-button
                            matSuffix
                            (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide"
                            type="button">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('newPassword', 'required')">Password is required</mat-error>
                        <mat-error *ngIf="hasError('newPassword', 'minlength')"
                            >Password must be at least 8 characters</mat-error
                        >
                    </mat-form-field>
                    <button mat-flat-button color="primary" type="submit" [disabled]="isLoading">Save Password</button>
                </div>
            </form>
        </div>
    </div>
</main>
