<main class="page">
  <div class="container col-xl-4">
    <div>
      <article>
        <header class="pb-1">
          <h1 class="fs-2 pb-2">Terms of Service</h1>
        </header>
        <div class="pt-3">
          <p class="fs-6 pb-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, maxime? A sunt, nam temporibus esse quam ad
            fugiat facere unde ullam velit quo quod vero modi recusandae iure. Laudantium fugit laborum quasi quibusdam
            nisi. Possimus eveniet maxime dicta aperiam itaque exercitationem a quisquam earum obcaecati adipisci,
            libero, soluta ipsa sint.
          </p>
          <ol class="d-flex flex-column gap-3">
            <li>
              <strong>Application of Terms</strong>
              <ol class="pt-2">
                <li>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore voluptate voluptates animi
                  consequuntur, et commodi repudiandae laboriosam at ratione incidunt.
                </li>
              </ol>
            </li>
            <li>
              <strong>Themes</strong>
              <ol class="pt-2">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, veniam.</li>
                <li>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque saepe tempora delectus cupiditate
                  soluta consequatur id, esse amet iusto magni?
                </li>
              </ol>
            </li>
            <li>
              <strong>Security &amp; Payments</strong>
              <ol class="pt-2">
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore amet minima officia velit quam
                  temporibus et soluta, repellendus eaque consectetur aspernatur enim placeat assumenda magnam.
                </li>
              </ol>
            </li>
            <li>
              <strong>Refunds</strong>
              <ol class="pt-2">
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum libero laborum voluptatibus aut
                  accusantium maxime nam magni ducimus recusandae, nisi labore. Maxime ea officia repellat odio neque
                  libero optio corporis.
                </li>
                <li>The issue of refunds is at the complete discretion of Bootstrap Themes.</li>
              </ol>
            </li>
            <li>
              <strong>Support</strong>
              <ol class="pt-2">
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est vitae deleniti explicabo aliquam dolore.
                  Totam temporibus consequatur aliquam tempore quidem.
                </li>
              </ol>
            </li>
            <li>
              <strong>Ownership</strong>
              <ol class="pt-2">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, maxime.</li>
              </ol>
            </li>
            <li>
              <strong>Membership &amp; Content</strong>
              <ol class="pt-2">
                <li>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores repellat aut eligendi quos expedita
                  sequi, dolor vero praesentium optio officiis ut magnam.
                </li>
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus cum inventore repudiandae, iste nemo
                  repellat? Facilis voluptatibus quasi alias. Sunt vel reprehenderit nobis reiciendis velit error odit,
                  delectus totam id aliquid officia, commodi quod nisi!
                </li>
              </ol>
            </li>
            <li>
              <strong>Liability</strong>
              <ol class="pt-2">
                <li>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi unde odit, illo laudantium iusto
                  distinctio. Inventore, fugiat? Assumenda consequuntur velit fugiat perferendis illo pariatur amet.
                </li>
              </ol>
            </li>
            <li>
              <strong>Requesting, Modifying or Deleting Your Data (GDPR)</strong>
              <ol class="pt-2">
                <li>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa voluptatum consequatur temporibus
                  tempore sit dolores optio aliquam, vel sequi quos possimus placeat! Rerum labore quos sed quisquam
                  accusamus.
                </li>
              </ol>
            </li>
            <li>
              <strong>Changes to terms</strong>
              <ol class="pt-2">
                <li>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat fugit odit voluptas porro libero
                  laborum quidem eum.
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </article>
    </div>
  </div>
</main>
