<main class="container forgot-password-page page">
    <div class="form-container p-5 shadow-lg rounded-2 bg-body">
        <div class="text-center d-flex flex-column gap-3">
            <ng-container *ngIf="isSuccess; else form">
                <h1 class="text-center fs-2 pb-3">Reset Link Sent</h1>
                <p>An email has been sent to your email address with instructions on how to reset your password.</p>
                <a [routerLink]="[loginRoute]" mat-flat-button color="primary">Back to Login</a>
            </ng-container>

            <ng-template #form>
                <h1 class="text-center fs-2 pb-3">Forgot Your Password?</h1>
                <p class="text-center">Enter your email address and we'll send you a link to reset your password.</p>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="d-flex flex-column gap-2">
                        <mat-form-field
                            appearance="outline"
                            [ngClass]="{
                                'mat-form-field-invalid': hasError('email', 'required') || hasError('email', 'email')
                            }">
                            <mat-label>Email</mat-label>
                            <input
                                matInput
                                formControlName="email"
                                required
                                [errorStateMatcher]="matcher"
                                autocomplete="on" />
                            <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                            <mat-error *ngIf="hasError('email', 'email')">Invalid email address</mat-error>
                        </mat-form-field>
                        <button mat-flat-button color="primary" type="submit" [disabled]="isLoading">
                            Send Reset Link
                        </button>
                    </div>
                </form>
                <a [routerLink]="[loginRoute]">Already have an account?</a>
            </ng-template>
        </div>
    </div>
</main>
