<main class="page justify-content-center align-items-center d-flex">
  <section class="py-3 py-md-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h2 class="gap-2 mb-3">
              <span class="display-1 fw-bold">404</span>
            </h2>
            <h3 class="h2 mb-2">Oops! You're lost.</h3>
            <p class="mb-3">The page you are looking for was not found.</p>
            <button mat-stroked-button color="primary" [routerLink]="homeRoute">Back to Home</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
