<footer class="container">
  <div class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-body-tertiary">&copy; {{ today | date : 'yyyy' }} Company, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-tertiary" href="#">
          <img src="https://www.google.com/s2/favicons?domain=twitter.com&sz=256" alt="" width="30" height="30"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-body-tertiary" href="#">
          <img src="https://www.google.com/s2/favicons?domain=instagram.com&sz=256" alt="" width="30" height="30"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-body-tertiary" href="#">
          <img src="https://www.google.com/s2/favicons?domain=facebook.com&sz=256" alt="" width="30" height="30"
        /></a>
      </li>
    </ul>
  </div>
</footer>
