<div
  *ngFor="let toast of toasts; let i = index"
  (mouseenter)="stopCountDown(toast.id)"
  (mouseleave)="countDown(toast.id)"
  class="toast-wrapper"
  [@openClose]="toast.show ? 'open' : 'closed'"
  [ngClass]="toast.type"
  [style.bottom.px]="24 + i * 85">
  <div class="inner-wrapper">
    <div class="d-flex gap-2">
      <ng-container *ngIf="toast.type === successType">
        <mat-icon fontIcon="check" class="toast-icon"></mat-icon>
      </ng-container>
      <ng-container *ngIf="toast.type === errorType">
        <mat-icon fontIcon="error" class="toast-icon"></mat-icon>
      </ng-container>
      <ng-container *ngIf="toast.type === infoType">
        <mat-icon fontIcon="info" class="toast-icon"></mat-icon>
      </ng-container>
      <ng-container *ngIf="toast.type === warningType">
        <mat-icon fontIcon="warning" class="toast-icon"></mat-icon>
      </ng-container>
      <div class="toast-content">
        <h5 class="toast-title">
          {{ toast.title }}
        </h5>
        <p class="toast-text">
          {{ toast.content }}
        </p>
      </div>
      <mat-icon fontIcon="close" class="toast-close" (click)="hideToast(toast.id)"></mat-icon>
    </div>
  </div>
</div>
