<main class="container page auth-page">
    <ng-container *ngIf="isLoading; else form">
        <div class="d-flex justify-content-center py-5"><app-loading-spinner /></div>
    </ng-container>
    <ng-template #form>
        <div class="form-container p-3 shadow-sm rounded-2 bg-body">
            <ng-container *ngIf="!isVerfiying; else verifyEmail">
                <h1 class="text-center fs-2 pb-3">{{ title }}</h1>
                <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                    <div class="d-flex flex-column gap-2">
                        <ng-container *ngIf="authType === 'register'">
                            <mat-form-field
                                appearance="outline"
                                [ngClass]="{
                                    'mat-form-field-invalid':
                                        hasError('username', 'required') || hasError('username', 'maxlength')
                                }">
                                <mat-label>Username</mat-label>
                                <input
                                    matInput
                                    formControlName="username"
                                    required
                                    [errorStateMatcher]="matcher"
                                    autocomplete />
                                <mat-error *ngIf="hasError('username', 'required')">Username is required</mat-error>
                                <mat-error *ngIf="hasError('username', 'maxlength')"
                                    >Username cannot be longer than 30 characters</mat-error
                                >
                            </mat-form-field>
                        </ng-container>

                        <mat-form-field
                            appearance="outline"
                            [ngClass]="{
                                'mat-form-field-invalid': hasError('email', 'required') || hasError('email', 'email')
                            }">
                            <mat-label>Email</mat-label>
                            <input
                                matInput
                                formControlName="email"
                                required
                                [errorStateMatcher]="matcher"
                                autocomplete="on" />
                            <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                            <mat-error *ngIf="hasError('email', 'email')">Invalid email address</mat-error>
                        </mat-form-field>

                        <mat-form-field
                            appearance="outline"
                            [ngClass]="{
                                'mat-form-field-invalid':
                                    hasError('password', 'required') || hasError('password', 'minlength')
                            }">
                            <mat-label>Password</mat-label>
                            <input
                                matInput
                                [type]="hide ? 'password' : 'text'"
                                formControlName="password"
                                required
                                autocomplete="on"
                                [errorStateMatcher]="matcher" />
                            <button
                                mat-icon-button
                                matSuffix
                                (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide"
                                type="button">
                                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                            <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                            <mat-error *ngIf="hasError('password', 'minlength')"
                                >Password must be at least 8 characters</mat-error
                            >
                        </mat-form-field>
                    </div>
                    <div class="py-3 d-flex flex-column gap-2">
                        <button mat-flat-button color="primary" type="submit">
                            {{ authType === 'register' ? 'Register' : 'Login' }}
                        </button>
                        <ng-container *ngIf="authType === 'login'">
                            <button
                                mat-flat-button
                                color="accent"
                                type="submit"
                                (click)="adminLogin()"
                                *ngIf="!environment.production">
                                Admin Login
                            </button>
                        </ng-container>
                    </div>
                    <div class="text-center">
                        <small class="text-body-tertiary">
                            By clicking continue, you agree to our
                            <a [routerLink]="[termsOfServiceRoute]">Terms of Service</a> and
                            <a [routerLink]="[privacyRoute]">Privacy Policy</a>
                        </small>

                        <p class="pt-1">
                            @if (authType === 'register') {
                            <a [routerLink]="[loginRoute]">Already have an account?</a>
                            } @if (authType === 'login') {
                            <a [routerLink]="[registerRoute]">Create an account</a>
                            }
                        </p>
                    </div>
                </form>
            </ng-container>

            <ng-template #verifyEmail>
                <div class="text-center d-flex flex-column gap-3">
                    <h1 class="text-center fs-2 pb-3">Please verify your email</h1>
                    <p>You're almost there! We sent an email to:</p>
                    <b>{{ userRegisterEmail }}</b>
                    <p>
                        Just click on the link in that email to complete your registration. If you don't see it, you may
                        need to check your spam folder.
                    </p>
                    <p>Still can't find the email?</p>
                    <button mat-flat-button color="primary" [disabled]="isResendDisabled" (click)="onResendEmail()">
                        <ng-container *ngIf="isResendDisabled; else enabledButton">
                            Resend Verification Link ({{ remainingSeconds }})
                        </ng-container>
                        <ng-template #enabledButton>Resend Verification Link</ng-template>
                    </button>
                </div>
            </ng-template>
        </div>
    </ng-template>
</main>
