<nav class="navbar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" [routerLink]="[landingRoute]">
      <img src="assets/images/logo.svg" alt="" height="30" class="d-inline-block align-text-top" />
    </a>
    @if(authService.currentUser()){
    <div class="d-flex align-items-center gap-2">
      <p>
        <strong>{{ authService.currentUser()?.username }}</strong>
      </p>
      <div class="d-flex">
        <mat-icon fontIcon="account_circle"></mat-icon>
      </div>
      <button mat-flat-button color="primary" type="submit" (click)="authService.logout()">Logout</button>
    </div>
    } @else{
    <div class="d-flex align-items-center gap-2">
      <button mat-button color="primary" type="submit" [routerLink]="[loginRoute]" class="btn-w-fixed-100">
        Login
      </button>
      <button mat-flat-button color="primary" type="submit" [routerLink]="[registerRoute]" class="btn-w-fixed-100">
        Register
      </button>
    </div>
    }
  </div>
</nav>
