<main class="page hero">
  <section class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1">
          <div class="d-flex flex-column gap-3">
            <h1 class="fs-1">Lorem ipsum dolor sit</h1>
            <h2 class="fw-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti possimus laboriosam distinctio at
              tenetur, eius minima cupiditate? Dolorum, sed inventore?
            </h2>
            <div class="d-flex gap-2">
              <a
                mat-stroked-button
                href="https://play.google.com/"
                target="_blank"
                color="primary"
                class="btn-w-fixed-150"
                ><svg xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1.25em" viewBox="2 2 24 24">
                  <path
                    fill="currentColor"
                    d="M3 20.5v-17c0-.59.34-1.11.84-1.35L13.69 12l-9.85 9.85c-.5-.25-.84-.76-.84-1.35m13.81-5.38L6.05 21.34l8.49-8.49zm3.35-4.31c.34.27.59.69.59 1.19s-.22.9-.57 1.18l-2.29 1.32l-2.5-2.5l2.5-2.5zM6.05 2.66l10.76 6.22l-2.27 2.27z" />
                </svg>
                Google Play
              </a>
              <a
                mat-stroked-button
                href="https://www.apple.com/app-store/"
                target="_blank"
                color="primary"
                class="btn-w-fixed-150"
                ><svg xmlns="http://www.w3.org/2000/svg" width="1.45em" height="1.45em" viewBox="2 2 24 24">
                  <path
                    fill="currentColor"
                    d="M17.05 20.28c-.98.95-2.05.8-3.08.35c-1.09-.46-2.09-.48-3.24 0c-1.44.62-2.2.44-3.06-.35C2.79 15.25 3.51 7.59 9.05 7.31c1.35.07 2.29.74 3.08.8c1.18-.24 2.31-.93 3.57-.84c1.51.12 2.65.72 3.4 1.8c-3.12 1.87-2.38 5.98.48 7.13c-.57 1.5-1.31 2.99-2.54 4.09zM12.03 7.25c-.15-2.23 1.66-4.07 3.74-4.25c.29 2.58-2.34 4.5-3.74 4.25" /></svg
                >App Store</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
          data-aos="fade-up">
          <img src="assets/images/hero.svg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
</main>
