<main class="page">
  <section class="container col-xxl-4">
    <article>
      <header class="pb-1">
        <h1 class="fs-2 pb-2">Privacy Police</h1>
      </header>
      <div class="py-3">
        <p class="fs-6 pb-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, maxime? A sunt, nam temporibus esse quam ad
          fugiat facere unde ullam velit quo quod vero modi recusandae iure. Laudantium fugit laborum quasi quibusdam
          nisi. Possimus eveniet maxime dicta aperiam itaque exercitationem a quisquam earum obcaecati adipisci, libero,
          soluta ipsa sint.
        </p>
        <ol class="d-flex flex-column gap-3">
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, facilis modi. Voluptates id cupiditate ad!
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, non!</li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fuga perspiciatis ratione, veniam culpa aut?
            Natus.
          </li>
        </ol>

        <p>
          <strong>Lorem, ipsum dolor?</strong>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est rem animi officia porro sequi, provident
          reiciendis qui voluptates in deleniti velit laborum vero atque eaque.
        </p>
      </div>
      <mat-divider></mat-divider>
      <div class="py-3">
        <p class="fs-6 pb-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, in impedit excepturi sapiente possimus porro
          recusandae ducimus veniam, dignissimos esse hic odit iure libero quo provident minus deleniti nobis similique?
          Deleniti perspiciatis qui quaerat cumque ex, fugiat tempora expedita assumenda fuga minus quidem beatae eius.
          Iure aspernatur doloribus, corporis rem cum perspiciatis reprehenderit unde aut beatae dolorum expedita
          laboriosam voluptatibus.
        </p>
        <ol class="d-flex flex-column gap-3">
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, facilis modi. Voluptates id cupiditate ad!
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, non!</li>
        </ol>
      </div>
      <mat-divider></mat-divider>
      <div class="py-3">
        <p class="fs-6 pb-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, maxime? A sunt, nam temporibus esse quam ad
          fugiat facere unde ullam velit quo quod vero modi recusandae iure. Laudantium fugit laborum quasi quibusdam
          nisi. Possimus eveniet maxime dicta aperiam itaque exercitationem a quisquam earum obcaecati adipisci, libero,
          soluta ipsa sint.
        </p>
        <ol class="d-flex flex-column gap-3">
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, facilis modi. Voluptates id cupiditate ad!
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, non!</li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fuga perspiciatis ratione, veniam culpa aut?
            Natus.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim autem reiciendis provident repellat distinctio
            totam doloremque vel, in excepturi est voluptates.
          </li>
        </ol>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est rem animi officia porro sequi, provident
          reiciendis qui voluptates in deleniti velit laborum vero atque eaque.
        </p>
      </div>
    </article>
  </section>
</main>
